@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.dragover-top {
    border-top: 2px solid blue;
}

.dragover-bottom {
    border-bottom: 2px solid blue;
}

.hoverover {
    border: 1px solid gray;
}
