@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.dragover-top {
    -webkit-box-shadow: inset 0px 8px 0px -6px rgba(32, 17, 242, 1) !important;
    -moz-box-shadow: inset 0px 8px 0px -6px rgba(32, 17, 242, 1) !important;
    box-shadow: inset 0px 8px 0px -6px rgba(32, 17, 242, 1) !important;
}

.dragover-bottom {
    -webkit-box-shadow: inset 0px -8px 0px -6px rgba(32, 17, 242, 1) !important;
    -moz-box-shadow: inset 0px -8px 0px -6px rgba(32, 17, 242, 1) !important;
    box-shadow: inset 0px -8px 0px -6px rgba(32, 17, 242, 1) !important;
}

.hoverover {
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(25, 141, 230, 1) !important;
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(25, 141, 230, 1) !important;
    box-shadow: inset 0px 0px 2px 1px rgba(25, 141, 230, 1) !important;
}
